
:root {
    --primary-color: #0b171f;
    --primary-font: 'Viaoda Libre', serif;;
    --secondary-font: 'Roboto', sans-serif;
}

html {font-size: 62.5%;}

body {
    margin: 0;
    padding: 0;
}

.header {
    background: #162028;
    display: inline-block;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

.header__superior {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 6.0rem;
}

.header__logo {
    color: white;
    font-family: var(--primary-font);
    font-size: 3.0rem;
    font-weight: 200;
    font-style: normal;
    margin-left: 10.5rem;
}

.header__menu {
    display: flex;
    gap: 10.0rem;
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 1.8rem;
    list-style-type: none;
    padding: 1.3rem;
}

.header__menu a {
    color: #425564;
    text-decoration: none;
}

.header__menu a:hover {
    color: white;
}

.centralized__content {
    width: 80%;
    margin: 0 auto;
}

.content__primary--title {
    color: black;
    text-align: center;
    font-size: 4.4rem;
    font-family: var(--primary-font);
    font-weight: 200;
    margin-top: 9.0rem;
}

.content__primary--description {
    text-align: left;
    color: #555;
    font-size: 1.7rem;
    font-family: var(--secondary-font);
    font-weight: 400;
    line-height: 3.0rem;
    margin-bottom: 7%;
}

.section__content {
    display: flex;
    justify-content: space-between;
}

.section__content img {
    width: 32rem;
}

.header__aju {
    padding: 2.0rem;
    color: white;
    font-family: var(--primary-font);
    font-size: 3.0rem;
    font-weight: 200;
    font-style: normal;
    margin-left: 10.5rem;
}

.section__content h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.7rem;
    font-family: var(--secondary-font);
    color: #555;
    font-weight: bold;
}

.section__content p {
    text-align: center;
    font-size: 1.7rem;
    font-family: var(--secondary-font);
    color: #555;
    font-weight: 400;
    margin-bottom: 9.0rem;
}

.content__secondary {
    background-image: url(image/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 0.7rem 2rem 3rem 10rem;;
    background-color: #003d52;     
}

.content__secondary--title {
    color: white;
    font-size: 6.9rem;
    font-family: var(--primary-font);
    font-weight: 200;
}

.content--title {
    width: 70rem;
    text-align: left;
    font-size: 2.4rem;
    color: white;
    font-family: var(--secondary-font);
    margin-bottom: 0;
}

.footer {
    height: 4.0rem;
    background-color: #0b171f;
    text-align: center;
    font-size: 1.1rem;
    color: #6f8597;
    letter-spacing: 0.5rem;
    padding: 1.0rem 1.0rem;
}

.centralized__content--contact {
    width: 80%;
    margin: 0 auto;
    height: 55.0rem;
    margin-top: 4.0rem;
}

.displayflex {display: flex;}

.content__contact--title {
    font-family: var(--primary-font);
    font-size: 3.8rem;
    font-weight: 200;
    color: black;
    text-align: center;
    margin-right: 13.0rem;
    margin-bottom: 2.0rem;
}

.content__contact {
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
}

.content__contact article {
    display: flex;
    align-items: center;
    margin: 1.1rem;
    gap: 0.9rem;
}

.content__contact p {
    font-family: var(--secondary-font);
    font-size: 1.3rem;
}

.icon-image {width: 8%;}

.form__contact {
    width: 60.0rem;
    border-radius: 2px;
}

.form__title {display: none;}

.form__fieldset {
    display: flex;
    border: none;
    flex-direction: column;
    gap: 0.4rem;
}

.form__label {
    padding: 1.0rem 1.0rem 1.0rem 0;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: var(--secondary-font);
    text-align: left;
    font-weight: 500;
    color: #4F4F4F;
}

.form__input {
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    padding: 0.7rem 0;
    font-size: 1.2rem;
    transition: padding-left .05s;
    font-family: var(--secondary-font);
    color: #4F4F4F; 
    resize:none; 
}

.form__input:focus {
    outline: 1px solid var(--primary-color);
    padding-left: 0.2rem;
}

.form__input:focus:valid {
   outline: 2px solid #006400;
}

.form__input:focus:invalid {
    outline: 2px solid #B22222;
}

.btn_sendmessage {
    color: white;
    text-transform: uppercase;
    background-color: var(--primary-color);
    padding:0.7rem 0.9rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    outline: none;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-top: 0.8rem;
}

.header__superior a {
    text-decoration: none;
}

.header__logo--contact {
    color: white;
    font-family: var(--primary-font);
    font-size: 3.0rem;
    font-weight: 200;
    font-style: normal;
    margin-left: 10.5rem;
    margin-top: 2.0rem;
}

.centralized__content--aboutus {
    width: 80%;
    margin: 0 auto 7.0rem auto;
}

.content__aboutus--title {
    font-family: var(--primary-font);
    font-size: 3.8rem;
    font-weight: 200;
    color: black;
    text-align: center;
    margin-bottom: 2.0rem;
    margin: 5.5rem 0 5.5rem 0;
}

.content__aboutus--h2 {
    font-family: var(--secondary-font);
    font-size: 2.1rem;
    font-weight: 300;
    color: black;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 4.3rem;
}

.content__aboutus--p {
    font-family: var(--secondary-font);
    font-size: 1.7rem;
    font-weight: 200;
    color: 363636;
    text-align: left;
    font-style: normal;
    line-height: 2.3rem;
}

